In [174]:
# Dependencies
import pandas as pd

In [175]:
# load CSV
file = 'Resources/2016-FCC-New-Coders-Survey-Data.csv'

In [176]:
# Read with pandas
df_raw = pd.read_csv(file, encoding='ISO-8859-1')

/Users/verasong/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (21,57) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [177]:
# Inspect all columns
df_raw.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampMonthsAgo,BootcampName,BootcampPostSalary,BootcampRecommend,ChildrenNumber,...,ResourceSoloLearn,ResourceStackOverflow,ResourceTreehouse,ResourceUdacity,ResourceUdemy,ResourceW3Schools,ResourceYouTube,SchoolDegree,SchoolMajor,StudentDebtOwe
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,20000.0
1,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,"some college credit, no degree",NaN,NaN
2,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,high school diploma or equivalent (GED),NaN,NaN
3,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bachelor's degree,Cinematography And Film,7000.0
4,20.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,NaN

In [178]:
# Extract only columns 0, 1, 2, 3, 4, 7, 8, 9, 10,11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111
cols = df_raw.columns[[0, 1, 2, 3, 4, 7, 8, 9, 10,11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111]]
df = df_raw.loc[:, cols]

In [179]:
# Change "0" to "No" and "1" to "Yes" in response columns
df2 = df.replace({0: 'No', 1: 'Yes'})

In [180]:
# Calculate total number of respondents in survey
total_response = df2['AttendedBootcamp'].count()
total_response

15380

In [181]:
# Extract rows corresponding only to people who attended a bootcamp
filt = df2['AttendedBootcamp'] == "Yes"
attended_yes = df2.loc[filt]
attended_yes_df = pd.DataFrame(attended_yes)

In [182]:
# Calculate average age of attendees
average_age = attended_yes_df['Age'].mean()
# Calculate how many people attended a bootcamp
total_attendees = attended_yes_df['AttendedBootcamp'].count()
total_attendees

953

In [183]:
# Calculate how many attendees hold degrees
attended_yes_df['SchoolDegree'].unique
filt = attended_yes_df['SchoolDegree'] != "some college credit, no degree"
degree_count = attended_yes_df.loc[filt]['SchoolDegree'].count()
degree_count

716

In [184]:
# Count number of attendees who self-identify as male; female; or are of non-binary gender identification
filt_male = attended_yes_df['Gender'] == "male"
male = attended_yes_df.loc[filt_male]['Gender'].count()

filt_female = attended_yes_df['Gender'] == "female"
female = attended_yes_df.loc[filt_female]['Gender'].count()

nonbinary_gender_identification = int(total_attendees) - int(male) - int(female)

print(male)
print(female)
print(nonbinary_gender_identification)

496
326
131

In [185]:
# Calculate percentage of respondents who attended a bootcamp (attended / total respondents)
percentage_attended_bootcamp = total_attendees / total_response

# Calculate percentage of respondents belonging to each gender (gender / attended)
percentage_male = male / total_attendees
percentage_female = female / total_attendees
percentage_other = nonbinary_gender_identification / total_attendees

# Calculate percentage of attendees with a school degree (degree / attended)
percentage_degree = degree_count / total_attendees

In [186]:
# Calculate average post-bootcamp salary
average_post_salary = attended_yes_df['BootcampPostSalary'].mean()
average_post_salary_rounded = average_post_salary

In [187]:
# Create a new table consolodating above calculations
dict1 = {"Total Response": total_response, 
              "Attended Bootcamp Count": total_attendees, 
              "Degree Count": degree_count, 
              "Num of Male": male, 
              "Male Percentage": percentage_male,
              "Num of Female": female, 
              "Female Percentage": percentage_female,
              "Num of nonbinary Gender Identification": nonbinary_gender_identification,
              "Other Gender Percentage": percentage_other, 
              "Avg Post Bootcamp Salary": average_post_salary_rounded, 
              "Attended Bootcamp Percentage": percentage_attended_bootcamp,
              "Male Percentage": percentage_male, 
              "Avg Post Bootcamp Salary": average_post_salary_rounded}

overall_df = pd.DataFrame([dict1])
overall_df['Male Percentage'].astype(float)
overall_df['Female Percentage'].astype(float)
overall_df['Other Gender Percentage'].astype(float)
overall_df['Avg Post Bootcamp Salary'].astype(float)
overall_df['Attended Bootcamp Percentage'].astype(float)

overall_df

,Total Response,Attended Bootcamp Count,Degree Count,Num of Male,Male Percentage,Num of Female,Female Percentage,Num of nonbinary Gender Identification,Other Gender Percentage,Avg Post Bootcamp Salary,Attended Bootcamp Percentage
0,15380,953,716,496,0.520462,326,0.342078,131,0.137461,63740.506061,0.061964

In [188]:
# Improve formatting before outputting spreadsheet
overall_df['Male Percentage'] = overall_df['Male Percentage'].map("{:.2f}".format)
overall_df['Female Percentage'] = overall_df['Female Percentage'].map("{:.2f}".format)
overall_df['Other Gender Percentage'] = overall_df['Other Gender Percentage'].map("{:.2f}".format)
overall_df['Attended Bootcamp Percentage'] = overall_df['Attended Bootcamp Percentage'].map("{:.2f}".format)
overall_df['Avg Post Bootcamp Salary'] = overall_df['Avg Post Bootcamp Salary'].map("${:.2f}".format)

overall_df

,Total Response,Attended Bootcamp Count,Degree Count,Num of Male,Male Percentage,Num of Female,Female Percentage,Num of nonbinary Gender Identification,Other Gender Percentage,Avg Post Bootcamp Salary,Attended Bootcamp Percentage
0,15380,953,716,496,0.52,326,0.34,131,0.14,$63740.51,0.06

In [189]:
# Export to Excel
overall_df.to_csv('Resources/Updated_2016-Bootcamp-Attendees-Survey-Data.csv', index=False, header=True)